body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-size: 14px;
  padding: 5px 10px;
}

.container {
  max-width: 625px;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.controls .title {
  margin-right: auto;
}

.controls button {
  margin-right: 5px;
}

.controls button:last-child {
  margin-right: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  background-color: #ccc;
  cursor: pointer;
}

.block.active {
  background-color: #00aaff;
}
